{% extends "layout.html" %}
{% block content %}
    <h1>{{ current_user.name }}</h1>

    <div class="content-section">
     </div>

    <div class="content-section">
      <p>Checking account {{paccount}}</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">no</th>
            <th scope="col">dato</th>
            <th scope="col">description</th>
            <th scope="col">debit</th>
            <th scope="col">credit</th>
          </tr>
        </thead>
        <tbody>
        {% for record in records %}
          <tr>
            <th scope="row">{{record['no']}}</th>
            <td>{{record['dato']}}</td>
            <td>{{record['desc']}}</td>
            <td>{{record['debit']}}</td>
            <td>{{record['credit']}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock content %}
